
body{
	background-color:#66fcf1;
  font-size:200%;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3B_I38ZRAIB_PfQqkxEaTQCtQepUT5y1u9Ue2Umg4zoclM-1T&usqp=CAU");
  background-size:cover; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:white;  
}
li {
  float:right;
 
}

li a {
  padding: 30px 16px;
  display: block;
  color: white;
  text-align: center; 
  }

	




	

